.orders-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 80px 30px;
}

.orders-table td,
.orders-table th {
    border: 1px solid #ddd;
    padding: 8px;
    /* background-color: #ddd;
    color: black; */
}


/* #customers tr:nth-child(even){background-color: #f2f2f2 ;
     color: black;} */

.orders-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #e67e22;
    color: white;
}

.order-container {
    background-color: transparent !important;
    color: black !important;
}